
#main{
    margin: 10px auto;
    border-radius: 10px;
    background-color: #eee;
    padding: 10px;
}

#title{
    font-size: 18px;
    font-family: monospace;
}
.title1{
    color: white;
    font-size: 18px;
    font-family: monospace;
    background: rgb(37, 36, 64);
    padding: 10px;
    text-align: center;
}
@media (max-width: 460px){
    .title1{
        font-size: 10px;
    }
}

#image{
    max-width: 60%;
    text-align: center;
    display: block;
    margin: 0 auto auto auto;
}
#img-div{
    background: rgb(230, 230, 230);
    padding: 50px;
    border-radius: 10px;
    
    
}
#img-caption{
    margin: auto;
}
@media (max-width: 460px){
#img-caption {
    font-size: 1.4rem;
}
}
.headline{
    text-align: center;
}
#tribute-link{
    color: #477
}