
#main{
    margin: 30px 8px;
    border-radius: 10px;
    background: rgb(185, 185, 185);
    padding: 15px;
}
.title{
    color: white;
    font-size: 18px;
    font-family: monospace;
    background: rgb(37, 36, 64);
    padding: 10px;
    text-align: center;
}
@media (max-width: 460px){
    .title{
        font-size: 10px;
    }
}

#image{
    max-width: 100%;
    height: auto;
    
   
}
#img-div{
    background: rgb(243, 243, 243);
    padding: 12px;
}